<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Monthly Statements</title>
	</head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #FAFAFA;width: 100% !important;">
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #FAFAFA;height: 100% !important;width: 100% !important;">
            	<tr>
                	<td align="center" valign="top" style="border-collapse: collapse;">
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #DDDDDD;background-color: #FFFFFF;">
                        	<tr>
                            	<td valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Header \\ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFFFFF;border-bottom: 0;">
                                        <tr>
                                            <td class="headerContent" style="border-collapse: collapse;color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle;">

                                                <!--
                                                 __    __   _______     ___       _______   _______ .______
                                                |  |  |  | |   ____|   /   \     |       \ |   ____||   _  \
                                                |  |__|  | |  |__     /  ^  \    |  .__.  ||  |__   |  |_)  |
                                                |   __   | |   __|   /  /_\  \   |  |  |  ||   __|  |      /
                                                |  |  |  | |  |____ /  _____  \  |  '__'  ||  |____ |  |\  \____.
                                                |__|  |__| |_______/__/     \__\ |_______/ |_______|| _| `._____|


                                            	***************************
                                                INSERT HEADER IMAGE HERE
                                                MAX WIDTH 600px, ANY HEIGHT
                                                IMAGE MUST BE HOSTED ON A SERVER,
                                                I.E. 'http://cdn.company.com/image.jpg'
                                                **************************** -->

                                            	<img src="http://fpoimg.com/600x150?text=Logo" style="max-width: 600px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" id="headerImage campaign-icon">

                                                <!-- END LOGO -->


                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \\ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Body \\ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                            <td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #FFFFFF;">

                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" style="border-collapse: collapse;">
                                                            <div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;">

                                                                <!--
                                                                .______     ______    _______  ____    ____
                                                                |   _  \   /  __  \  |       \ \   \  /   /
                                                                |  |_)  | |  |  |  | |  .__.  | \   \/   /
                                                                |   _  <  |  |  |  | |  |  |  |  \_    _/
                                                                |  |_)  | |  `__'  | |  '__'  |    |  |
                                                                |______/   \______/  |_______/     |__|

                                                                -->


                                                                <br>
                                                                <br>
                                                                <h1 class="h1" style="color: #202020;display: block;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">Monthly Statements</h1>
                                                                <br>
                                                                <br>
                                                                {{firstName}} {{lastName}},
                                                                <br>
                                                                <br>
                                                                Your monthly statements for {{monthDate}} are now available at your <a href="{{documentLink}}" style="color: #336699;font-weight: normal;text-decoration: underline;">Document Center</a>
                                                                <br>
                                                                <br>
                                                                If you have any questions, you can contact your broker at XXX-XXX-XXXX or Apex Clearing Corporation at 214-765-1009.
                                                                <br>
                                                                <br>

                                                                <!-- END BODY -->


                                                            </div>
														</td>
                                                    </tr>
                                                </table>


                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                        	<tr>
                            	<td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Footer \\ -->
                                	<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter" style="background-color: #FFFFFF;border-top: 0;">
                                    	<tr>
                                        	<td valign="top" class="footerContent" style="border-collapse: collapse;">

                                                <!--
                                                 _______   ______     ______   .___________. _______ .______
                                                |   ____| /  __  \   /  __  \  |           ||   ____||   _  \
                                                |  |__   |  |  |  | |  |  |  | `___|  |____`|  |__   |  |_)  |
                                                |   __|  |  |  |  | |  |  |  |     |  |     |   __|  |      /
                                                |  |     |  `__'  | |  `__'  |     |  |     |  |____ |  |\  \____.
                                                |__|      \______/   \______/      |__|     |_______|| _| `._____|

                                                -->

                                                <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" width="350" style="border-collapse: collapse;">
                                                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;">
                                                                <!-- THIS IS THE MAIN FOOTER AREA -->
                                                                &copy; 2016
                                                                <br><br>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Integer fringilla egestas viverra. Maecenas dictum ante eget
                                                                lorem rutrum scelerisque. Duis lacinia, lorem at eleifend molestie,
                                                                sem ipsum ullamcorper tellus, eu vehicula metus ante ut nulla.
                                                                <br><br>
                                                                Ut vitae posuere odio, non lobortis sapien. Aenean id velit ut
                                                                lacus auctor elementum sit amet imperdiet libero. In odio ipsum,
                                                                auctor eget velit non, commodo euismod urna. Vestibulum mi odio,
                                                                laoreet eu tincidunt vel, tempor ut enim. Curabitur scelerisque
                                                                vitae metus ac auctor. Morbi luctus ac lacus ut tristique.
                                                                <br><br>
                                                                Cras eu urna vulputate, viverra velit non, tristique dolor.
                                                                Aenean convallis tortor mauris, a mattis purus sagittis non.
                                                                Proin sed nunc id ex finibus vulputate in vitae quam. Duis eu
                                                                leo enim. Suspendisse at massa aliquet, aliquam justo nec,
                                                                convallis tortor. Aenean porttitor suscipit dui, a auctor velit tincidunt at.
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td valign="middle" id="utility" style="border-collapse: collapse;background-color: #FFFFFF;border: 0;">
                                                            <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                                                <!-- THIS IS THE FOOTER UTILITY AREA -->
                                                                &nbsp;<a href="" style="color: #336699;font-weight: normal;text-decoration: underline;">footer link</a> | <a href="" style="color: #336699;font-weight: normal;text-decoration: underline;">footer link</a>&nbsp;
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <!-- END FOOTER -->

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Footer \\ -->
                                </td>
                            </tr>
                        </table>
                        <br>
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
